
<% @articles.each do |article| %>
  <div class="border-bottom-one p-3">
    <p class="article-list-title"><%= article.title %></p>
    <%= link_to 'details', article, class: "genereal-btn-styles" %>
  </div>
<% end %>